<!DOCTYPE html>
<html>

<head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">

    <title>Cuckoo - Come to See Movie Table</title>
    
    <!-- global stylesheets -->
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/font-icon-style.css">
    <link rel="stylesheet" href="/static/css/style.default.css" >
    <link rel="stylesheet" href={{css}}>
    <link rel="stylesheet" href="/static/css/select2.min.css" >
    <!-- Core stylesheets -->
</head>

<body style="height: 1000px">
    <!-- Header -->
    <header class="header sticky-header">
        <div class="container">
            <div class="header-inner d-none d-lg-flex">
                <div class="header-logo">
                    <a href={{home}}>
                        <img src={{logo}}>
                    </a>
                </div>
                <div class="header-navigation">
                    <button class="header-navigation-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <nav class="main-navigation">
                        <ul>
                            <li><a href={{home}}>HOME</a>
                                <ul>
                                    <li><a href="../index">Home Default Version</a></li>
                                    <li><a href="../index-dark">Home Dark Version</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Eye</a>
                                <ul>
                                        <li><a href="../table/0">Default</a></li>
                                        <li><a href="../table/1">Dark</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Services</a>
                                <ul>
                                    <li><a href="#">Movie Table</a></li>
                                    <li><a href="../trend/{{bg}}">Movie Trend</a></li>
                                    <li><a href="../actors/{{bg}}">Model Actors</a></li>
                                    <li><a href="../share/{{bg}}">Box Office Share</a></li>
                                </ul>
                            </li>
                            <li><a href={{in}}>{{name}}</a>
                            <ul>
                                <li style="display:{{in_dis}}"><a href={{in}}>{{name}}</a></li>
                                <li style="display:{{out_dis}}"><a onclick="return confirm('Are you sure to log out ?')" href={{out}}>Log Out</a></li>
                            </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!--// Header -->
    <div class="page-content d-flex align-items-stretch">

        <!--***** SIDE NAVBAR *****-->
        <nav class="side-navbar">
            <div class="sidebar-header d-flex align-items-center">
                <div class="avatar"><img src="/static/img/header.png" alt="..." class="img-fluid rounded-circle"></div>
                <div class="title">
                    <h1 class="h4">{{the_user}}</h1>
                </div>
            </div>
            <hr>
            <!-- Sidebar Navidation Menus-->
            <ul class="list-unstyled">
                <li> <a href={{home}}><i class="fa fa-home"></i>Home</a></li>
                <li><a href="#apps" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-bar-chart"></i>Services </a>
                    <ul id="apps" class="collapse list-unstyled">
                        <li><a href="../table/{{bg}}">Movie Table</a></li>
                        <li><a href="../trend/{{bg}}">Movie Trend</a></li>
                        <li><a href="../actors/{{bg}}">Model Actors</a></li>
                        <!--<li><a href=" ">Box Office Share</a></li>-->
                    </ul>
                </li>
                <li><a href="#elements" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-star"></i>Favorite </a>
                    <ul id="elements" class="collapse list-unstyled">
                        {% for fav in the_user.favorite_set.all %}
                            <li><a href="#" onclick="window.open('{{fav.movie_url}}')">{{fav.movie_name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li><a href="#pages" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-file-image-o"></i>History </a>
                    <ul id="pages" class="collapse list-unstyled">
                        {% for img in the_user.history_set.all %}
                            <li id="{{img.image_name}}">
                                <a href="{{img.data_url}}" download="{{img.image_name}}">
                                    <img src="{{img.data_url}}" id="{{img.image_name}}"/>
                                </a>
                                <a href="#" onclick="delimg('{{img.image_name}}')" name="{{img.image_name}}">
                                    <i class="fa fa-trash-o"></i>{{img.image_name}}
                                </a>
                            </li>
                            <!--<li><a href="{{img.data_url}}">{{img.image_name}}</a></li>-->
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="content-inner chart-cont">

            <div>
                <table style="border-bottom: 0;">
                    <tr>
                        <td>
                            <h4><label for="year">年份</label></h4>
                            <select class="js-example-basic-multiple" multiple="multiple" id="year" >
                                <option value="">—请选择—</option>
                                <option value="1">-2015</option>
                                <option value="2">-2016</option>
                                <option value="3">-2017</option>
                                <option value="4">-2018</option>
                            </select>
                        </td>
                        <td>
                            <h4><label for="season">季度</label></h4>
                            <select style=".input{width:50px !important}" class="js-example-basic-multiple" multiple="multiple" id="season">
                                <option value="">—请选择—</option>
                                <option value="1">-1</option>
                                <option value="2">-2</option>
                                <option value="3">-3</option>
                                <option value="3">-4</option>
                            </select>
                        </td>
                        <td >
                            <h4><label for="month">月份</label></h4>
                            <select class="js-example-basic-multiple" multiple="multiple" id="month">
                                <option value="" >—请选择—</option>
                                <option value="1">-1</option>
                                <option value="2">-2</option>
                                <option value="3">-3</option>
                                <option value="4">-4</option>
                                <option value="5">-5</option>
                                <option value="6">-6</option>
                                <option value="7">-7</option>
                                <option value="8">-8</option>
                                <option value="9">-9</option>
                                <option value="10">-10</option>
                                <option value="11">-11</option>
                                <option value="12">-12</option>
                            </select>
                        </td>
                        <td>
                            <h4><label for="movieaddr">地区</label></h4>
                            <select class="js-example-basic-multiple" multiple="multiple" id="movieaddr">
                                <option value="">—请选择—</option>
                                <option value="1">-爱尔兰</option>
                                <option value="2">-奥地利</option>
                                <option value="3">-澳大利亚</option>
                                <option value="4">-巴西</option>
                                <option value="5">-保加利亚</option>
                                <option value="6">-比利时</option>
                                <option value="7">-冰岛</option>
                                <option value="8">-波多黎各</option>
                                <option value="9">-波兰</option>
                                <option value="10">-丹麦</option>
                                <option value="11">-德国</option>
                                <option value="12">-多米尼加</option>
                                <option value="13">-俄罗斯</option>
                                <option value="14">-法国</option>
                                <option value="15">-芬兰</option>
                                <option value="16">-韩国</option>
                                <option value="17">-荷兰</option>
                                <option value="18">-加拿大</option>
                                <option value="19">-捷克</option>
                                <option value="20">-卢森堡</option>
                                <option value="21">-马耳他</option>
                                <option value="22">-马来西亚</option>
                                <option value="23">-美国</option>
                                <option value="24">-墨西哥</option>
                                <option value="25">-南非</option>
                                <option value="26">-挪威</option>
                                <option value="27">-日本</option>
                                <option value="28">-瑞典</option>
                                <option value="29">-瑞士</option>
                                <option value="30">-泰国</option>
                                <option value="31">-土耳其</option>
                                <option value="32">-西班牙</option>
                                <option value="33">-新加坡</option>
                                <option value="34">-新西兰</option>
                                <option value="35">-匈牙利</option>
                                <option value="36">-意大利</option>
                                <option value="37">-印度</option>
                                <option value="38">-英国</option>
                                <option value="39">-智利</option>
                                <option value="40">-中国</option>
                                <option value="41">-中国大陆</option>
                                <option value="41">-中国台湾</option>
                                <option value="41">-中国香港</option>

                            </select>
                        </td>
                        <td>
                            <h4><label for="movietype">类型</label></h4>
                            <select class="js-example-basic-multiple" multiple="multiple" id="movietype" >
                                <option value="" >—请选择—</option>
                                <option value="1">-爱情</option>
                                <option value="2">-动画</option>
                                <option value="3">-动作</option>
                                <option value="4">-短片</option>
                                <option value="5">-犯罪</option>
                                <option value="6">-歌舞</option>
                                <option value="7">-古装</option>
                                <option value="8">-黑色</option>
                                <option value="9">-纪录</option>
                                <option value="10">-家庭</option>
                                <option value="11">-惊悚</option>
                                <option value="12">-剧情</option>
                                <option value="13">-科幻</option>
                                <option value="14">-恐怖</option>
                                <option value="15">-历史</option>
                                <option value="16">-冒险</option>
                                <option value="17">-奇幻</option>
                                <option value="18">-武侠</option>
                                <option value="19">-西部</option>
                                <option value="20">-喜剧</option>
                                <option value="21">-戏曲</option>
                                <option value="22">-悬疑</option>
                                <option value="23">-音乐</option>
                                <option value="24">-运动</option>
                                <option value="25">-灾难</option>
                                <option value="26">-战争</option>
                                <option value="27">-传记</option>
                            </select>
                        </td>
                        <td>
                            <h4><label for="movietop">Movie — TOP</label></h4>
                            <select class="js-example-basic-single" id="movietop">
                                <option value="1">3</option>
                                <option value="2">5</option>
                                <option value="3">10</option>
                            </select>
                        </td>
                        <td>
                            <table style="border: 0px">
                                <!--<tr><td>-->
                                    <!--<button>-->
                                        <!--<input type="submit" value="— Reset —"  style="border:0; font-size:20px;" />-->
                                    <!--</button>-->
                                <!--</td></tr>-->
                                <tr><td style="border:0;">
                                    <button style="border: 0px">
                                         <input type="button" id="Sort" value=" —  Sort  —" style="border:0; font-size:20px;" />
                                    </button>
                                </td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>

            <!--***** CONTENT *****-->
            <div class="row">
                <table class="table table-hover">
                  <thead>
                    <tr class="bg-info text-white">
                        <th>#</th>
                        <th>地区</th>
                        <th>票房</th>
                        <th>导演</th>
                        <th>中文名</th>
                        <th>英文名</th>
                        <th>上映日期</th>
                        <th>评分</th>
                        <th>演员</th>
                        <th>时长</th>
                        <th>类型</th>
                    </tr>
                  </thead>
                  <tbody id="tbody_"></tbody>
                </table>
            </div>
            <input id="plabel" type="hidden" value="" />
            <input id="pdata" type="hidden" value="" />

        </div>
    </div>

    <!--Global Javascript -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/tether.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/static/js/chart.min.js"></script>
    <script src="/static/js/front.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/plugins.js"></script>
	<script src="/static/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>

    <!--Core Javascript -->
    <script type="text/javascript">
    $(document).ready(function() {
        $(".js-example-basic-multiple").select2({
        placeholder: "———"
      }

        );
    });
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
        $(".js-example-basic-single").select2({
      }

        );
    });
    </script>
    <script type="text/javascript">
    $(document).ready(function() {
        $(".js-example-basic-single").select2({
      }

        );
    });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#Sort').click(function () {
                $.ajax({
                    url:'deal-movie-top',
                    type:'GET',
                    async:true,
                    data:{
                        month:$("#month option:selected").text(),
                        season:$("#season option:selected").text(),
                        area: $("#movieaddr option:selected").text(),
                        year: $("#year option:selected").text(),
                        movietop: $("#movietop option:selected").text(),
                        movietype: $("#movietype option:selected").text()
                    },
                    success:function(result) {
                        let item = document.getElementById('tbody_');
                        item.innerHTML="";
                        let item_set = result.item_set;
                        //alert(item_set[0][2])
                        for(let i=0; i<item_set.length; i++) {
                            let tr = document.createElement("tr");
                            let td0 = document.createElement("td");
                            let td1 = document.createElement("td");
                            let td2 = document.createElement("td");
                            let td3 = document.createElement("td");
                            let td4 = document.createElement("td");
                            let td5 = document.createElement("td");
                            let td6 = document.createElement("td");
                            let td7 = document.createElement("td");
                            let td8 = document.createElement("td");
                            let td9 = document.createElement("td");
                            let td10 = document.createElement("td");

                            td0.innerscope = "row";
                            td0.innerText = i+1;
                            td1.innerText = item_set[i][0];
                            td2.innerText = item_set[i][1];
                            td3.innerText = item_set[i][2];
                            td4.innerText = item_set[i][3];
                            td5.innerText = item_set[i][4];
                            td6.innerText = item_set[i][5];
                            td7.innerText = item_set[i][6];
                            td8.innerText = item_set[i][7];
                            td9.innerText = item_set[i][8];
                            td10.innerText = item_set[i][9];

                            tr.appendChild(td0);
                            tr.appendChild(td1);
                            tr.appendChild(td2);
                            tr.appendChild(td3);
                            tr.appendChild(td4);
                            tr.appendChild(td5);
                            tr.appendChild(td6);
                            tr.appendChild(td7);
                            tr.appendChild(td8);
                            tr.appendChild(td9);
                            tr.appendChild(td10);
                            item.appendChild(tr);
                        }
                        document.getElementById("plabel").value = result.label;
                        document.getElementById("pdata").value = result.box;
                        window.open('../movie-top/{{bg}}')
                    },
                    error:function(result) {
                        alert('ajax:ERROR');
                    },
                });
            });
        });
    </script>
    <script>
        function delimg(logname) {
            console.log(logname);
            $.ajax({
                url:'delimg',
                type:'post',
                async:true,
                data:{
                    logname:logname,
                },
                success:function (result) {
                    let history_item = document.getElementById(logname);
                    history_item.parentNode.removeChild(history_item);
                    console.log(result.message);
                },
                error:function(result) {
                        alert('ajax:ERROR');
                },

            });

        }
    </script>
</body>

</html>