/**
 * Dark Color
 */

body{
    background: #3f3f3f;
    color: #000;
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    color: #CCCCCC;
}

.readmore, .readmore:visited, .readmore:link,
.footer-inner li a,
.portfolio-filters button,
nav.main-navigation ul li a,
.section-title p,
.portfolio .portfolio-content h5 a,
.portfolio .portfolio-content h6 a{
    color: #ffffff;
}

.header-navigation-trigger span,
.portfolio-filters button::before{
    background: #ffffff;
}

.bg-white{
    background: #222222 !important;
}


.hero-area-inner,
.footer-inner{
    border-color: #333333;
}

.portfolio{
    box-shadow: 0 0px 15px rgba(200,200,200,0.15);
}
.portfolio{
    background: #3f3f3f;
}
.portfolio .portfolio-content{
    background: #3f3f3f;
}
.portfolio .portfolio-content a.portfolio-zoom-button::before,
.portfolio .portfolio-content a.portfolio-zoom-button::after,
.service h5::before{
    background: #ffffff;
}

.sticky-header.is-sticky{
    background: #3f3f3f;
    box-shadow: 0 0 3px rgba(255,255,255, 0.1);
}

.service{
    background: #3f3f3f;
    box-shadow: 0 5px 30px rgba(119,119,119,0.3);
}

.mobile-menu{
    border-color: #333333;
}

.mean-container a.meanmenu-reveal span{
    background: #ffffff;
}

.mean-container a.meanmenu-reveal.meanclose .white{
    display: block;
}
.mean-container a.meanmenu-reveal.meanclose .black{
    display: none;
}

.hero-area-inner .social-icons ul li a,
.hero-area-inner .social-icons::before{
    color: #dddddd;
}
.hero-area-inner .social-icons ul li a:hover{
    color: #ffffff;
}

nav.main-navigation > ul > li:hover > a{
    color: #ffffff;
}
nav.main-navigation > ul > li:hover > a::before{
    background: #ffffff;
}

nav.main-navigation ul li ul {
    border-top: 3px solid #999999;
}

.widgets .widget-related-post ul li .content h6 a {
  color: #aaaaaa;
}

.widgets .widget-related-post ul li .content h6 a:hover {
  color: #ffffff;
}

.blog-item-body .blog-item-title a {
  color: #aaaaaa;
}

.blog-item-body .blog-item-title a:hover {
  color: #ffffff;
}

input::-webkit-input-placeholder{
    color: #aaaaaa;
}

.cr-pagination ul li a {
  color: #888888;
}

nav.side-navbar {
    background: #3f3f3f;
}

nav.side-navbar .title h1 {
    color: #dddddd;
}

.content-inner {
    background: #3f3f3f;
}

hr {
    border-color:#aaaaaa
}



input{
  color: #CCCCCC;
}

.select2-selection--multiple {
    background-color: rgba(0,0,0,0) !important;
}
.select2-selection__choice{
    background-color: #333333 !important;
}


table{
    -webkit-tap-highlight-color: #ffffff;
    color: #CCCCCC !important;
}



.select2-selection__rendered{
    color: #eee !important;
}

.card{
    background-color: #3f3f3f !important;
}

nav.side-navbar {
    color: #cccccc !important;
     box-shadow: 0px 2px 2px 2px rgba(52, 52, 52, 0.8);
    z-index: 1000;
}

.table-hover{
    border: 2px;
    border-color: #ffffff;
    box-shadow: 0px 2px 2px 2px rgba(50,50,50,0.8);
}


small{
    color: #aaaaaa;
}

select{
    color: #aaaaaa
}


